[defaults]
inventory          = inventory/hosts.ini
remote_user        = ubuntu
private_key_file   = ~/.ssh/pacemoney
host_key_checking  = false
retry_files_enabled   = false
roles_path            = roles
deprecation_warnings  = false

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = true
